bin/
.metadata/
Server/jersey-skeleton/src/main/backend/.metadata/
Server/jersey-skeleton/src/main/backend/librairies/*
Server/jersey-skeleton/src/main/backend/.classpath
Server/jersey-skeleton/src/main/backend/.project
Server/jersey-skeleton/src/main/backend/.settings
